#title
{
 background-color:black;
 color:white; 
 text-align: center;
 padding-top: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
 padding-left: 20px;
    
}
.desc{
 padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px; 
}
.links{
    text-decoration: none;
     padding-right: 20px;
    
}
.leftdiv{
    background-color: white;
 float:left;
 padding : 1%; 
 width: 30%;
 background-color: white;
         
}
.middlediv{
    background-color: white;
 float:left;
    padding : 1%; 
 width: 30%; 
     padding-right: 50px;
}
.rightdiv{
    background-color: white;
    float:left;
    padding : 1%; 
 width: 30%; 
}
.bottom{
    float:none;
    background-color:black;

}